@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.t-dialog {
}

.t-btns {
  .el-button.t-btn {
    transition: all 0.2s linear;
    border-radius: 0;
    padding: 0.5rem;
    &--primary {
      background-color: $main-blue;
    }
    &--success {
      background-color: $main-green;
    }
    &--danger {
      background-color: $main-red;
    }
    &--info {
      background-color: $main-grey;
    }
    &:not(.is-plain):hover {
      opacity: 0.8;
    }
  }
}

.t-pagination.el-pagination {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  .number {
    transition: all 0.1s linear;
    font-size: 0.875rem;
    font-weight: normal;
    &.active {
      color: $main-red;
      font-size: 1.2rem;
    }
    &:hover {
      color: $main-red;
    }
  }
  .more {
    &:hover {
      color: $main-red;
    }
  }
  .btn-prev,
  .btn-next {
    i {
      font-size: 1rem;
    }
    &:not([disabled]) {
      &:hover {
        color: $main-red;
      }
    }
  }
  .el-input {
    .el-input__inner:focus {
      color: $main-red;
      border-color: $main-red;
    }
  }
}

.t-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-select {
  width: 100%;
}

.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409eff;
    }
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 8.75rem;
  height: 8.75rem;
  line-height: 8.75rem;
  text-align: center;
}
.avatar {
  width: 8.75rem;
  height: 8.75rem;
  display: block;
}

.w {
  width: 1200px;
  margin: 0 auto !important;
  height: 100%;
}

// todo loop
.ribbon {
  content: "";
  padding: 0 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
  background-color: $main-blue;
  border-radius: 2px;
  border-color: $main-blue-dark;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  color: #fff;
  position: absolute;
  z-index: 99;
  &::before {
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    content: "";
    border: solid transparent;
    border-width: 0 1.2rem 1.2rem 0;
    border-right-color: inherit;
  }
  &.red {
    background-color: $main-red;
    border-color: $main-red-dark;
  }
  &.green {
    background-color: $main-green;
    border-color: $main-green-dark;
  }
  &.white {
    background-color: $main-white;
    border-color: $main-white-dark;
  }
  &.black {
    background-color: $main-black;
    border-color: $main-black-dark;
  }
}

::-webkit-scrollbar {
  display: none;
}

[class*="fa-"] {
  &::before {
    margin-right: 0.15rem;
  }
}

.link {
  color: $main-blue-dark;
  cursor: pointer;
}

.el-dropdown-menu {
  padding: 4px 10px;
  .el-dropdown-menu__item:focus,
  .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: transparent;
    .router-link-active {
      color: indianred;
    }
  }
}
